Project development Phase/Sprint-4/flows.json
[{"id":"cfb3d605def49c66","type":"tab","label":"Weather","disabled":false,"info":"","env":[]},{"id":"3f4684d1349261ed","type":"ibmiot in","z":"cfb3d605def49c66","authentication":"apiKey","apiKey":"afa173c658aa413e","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Weather_iot","applicationId":"","deviceType":"Weather","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":230,"y":540,"wires":[["0edd8522f2da8a9c","f06014330fcab50b","65c248dea0a7e88e","0fb74339a8f8498b","9968182f4f1f6b59","d18bd68cb770c67f","33197babb277dc65","e8ba6d44507d5acb","e35f48f2e0838de0","f9818684940fbff6"]]},{"id":"65c248dea0a7e88e","type":"function","z":"cfb3d605def49c66","name":"climate","func":"msg.payload=msg.payload.climate\nglobal.set('c',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":460,"wires":[["224387499f80cda1"]]},{"id":"0edd8522f2da8a9c","type":"function","z":"cfb3d605def49c66","name":"humidity","func":"msg.payload=msg.payload.humidity\nglobal.set('h',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":560,"wires":[["e60c6a3c39b6ce74"]]},{"id":"f06014330fcab50b","type":"function","z":"cfb3d605def49c66","name":"temperature_average","func":"msg.payload=msg.payload.temperature_average\nglobal.set('t',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":680,"wires":[["fab3260971b94244"]]},{"id":"fab3260971b94244","type":"ui_gauge","z":"cfb3d605def49c66","name":"","group":"5e4e51f5a7cc7fb6","order":2,"width":"6","height":"4","gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":870,"y":660,"wires":[]},{"id":"224387499f80cda1","type":"ui_text","z":"cfb3d605def49c66","group":"5e4e51f5a7cc7fb6","order":1,"width":"6","height":"3","name":"","label":"Climate","format":"{{msg.payload}}","layout":"row-center","className":"","x":700,"y":460,"wires":[]},{"id":"6b58871b68eb784f","type":"http in","z":"cfb3d605def49c66","name":"","url":"/sensors","method":"get","upload":false,"swaggerDoc":"","x":350,"y":800,"wires":[["5be49078b62f3349"]]},{"id":"5be49078b62f3349","type":"function","z":"cfb3d605def49c66","name":"function","func":"msg.payload ={\"climate\":global.get('c'),\"temperature_average\":global.get('t'),\"humidity\":global.get('h'),\"school_zone\":global.get('sz'),\"hospital_zone\":global.get('hz'),\"time_hour\":global.get('th'),\"speed\":global.get('sp'),\"horn\":global.get('horn')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":800,"wires":[["4de1c7e272ebf869"]]},{"id":"9968182f4f1f6b59","type":"function","z":"cfb3d605def49c66","name":"hospital","func":"msg.payload=msg.payload.hospital_zone\nglobal.set('hz',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":340,"wires":[["7c63f670e3809f41"]]},{"id":"0fb74339a8f8498b","type":"function","z":"cfb3d605def49c66","name":"school zone","func":"msg.payload=msg.payload.school_zone\nglobal.set('sz',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":400,"wires":[["2e9cb81833f8d792"]]},{"id":"7c63f670e3809f41","type":"ui_text","z":"cfb3d605def49c66","group":"5e4e51f5a7cc7fb6","order":6,"width":"5","height":"3","name":"","label":"HOSPITAL ZONE","format":"{{msg.payload}}","layout":"row-center","className":"","x":710,"y":340,"wires":[]},{"id":"2e9cb81833f8d792","type":"ui_text","z":"cfb3d605def49c66","group":"5e4e51f5a7cc7fb6","order":4,"width":"5","height":"3","name":"","label":"SCHOOL_ZONE","format":"{{msg.payload}}","layout":"row-center","className":"","x":710,"y":400,"wires":[]},{"id":"e8ba6d44507d5acb","type":"function","z":"cfb3d605def49c66","name":"time hour","func":"msg.payload=msg.payload.time_hour\nglobal.set('th',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":140,"wires":[["8701f5de276f7f75"]]},{"id":"33197babb277dc65","type":"function","z":"cfb3d605def49c66","name":"speed","func":"msg.payload=msg.payload.speed\nglobal.set('sp',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":200,"wires":[["cc1f2459d8bfc6ff"]]},{"id":"d18bd68cb770c67f","type":"function","z":"cfb3d605def49c66","name":"Horn","func":"msg.payload=msg.payload.Horn\nglobal.set('horn',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":260,"wires":[["c6cb5d11a7c5c7be"]]},{"id":"8701f5de276f7f75","type":"ui_gauge","z":"cfb3d605def49c66","name":"","group":"5e4e51f5a7cc7fb6","order":5,"width":"6","height":"4","gtype":"donut","title":"Time_hour","label":"hr","format":"{{value}}","min":0,"max":"24","colors":["#00b500","#008000","#008040"],"seg1":"","seg2":"","className":"","x":730,"y":140,"wires":[]},{"id":"cc1f2459d8bfc6ff","type":"ui_gauge","z":"cfb3d605def49c66","name":"","group":"5e4e51f5a7cc7fb6","order":7,"width":"6","height":"4","gtype":"gage","title":"Speed_limit","label":"km/hr","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"60","className":"","x":730,"y":200,"wires":[]},{"id":"c6cb5d11a7c5c7be","type":"ui_text","z":"cfb3d605def49c66","group":"5e4e51f5a7cc7fb6","order":8,"width":"6","height":"2","name":"","label":"Horn","format":"{{msg.payload}}","layout":"col-center","className":"","x":730,"y":260,"wires":[]},{"id":"e35f48f2e0838de0","type":"debug","z":"cfb3d605def49c66","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":520,"wires":[]},{"id":"4de1c7e272ebf869","type":"http response","z":"cfb3d605def49c66","name":"","statusCode":"200","headers":{},"x":700,"y":800,"wires":[]},{"id":"f9818684940fbff6","type":"function","z":"cfb3d605def49c66","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":740,"wires":[[]]},{"id":"e60c6a3c39b6ce74","type":"ui_widget_humidity_tree","z":"cfb3d605def49c66","group":"5e4e51f5a7cc7fb6","order":7,"width":"6","height":"6","name":"Humidity","title":"Humidity","colorHumidMax":"#006000","colorHumidMin":"#945818","x":900,"y":580,"wires":[]},{"id":"afa173c658aa413e","type":"ibmiot","name":"Weather","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"5e4e51f5a7cc7fb6","type":"ui_group","name":"Default","tab":"1f778ea8be1cb739","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"1f778ea8be1cb739","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]